@import "../../styles/variables.scss";

.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;

  .buttonOpen {
    display: block;
    width: 2.25rem;
    height: 3rem;
    background: $--color-light;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
}

/* Example for menu open state (optional) */
.buttonOpen span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.buttonOpen span:nth-child(2) {
  opacity: 0;
}
.buttonOpen span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
