// ===== IMPORTS =====

@import "./reset.scss";
@import "./variables.scss";
@import "./utilities.scss";

// ===== GLOBAL STYLES =====

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}


