@import "../../styles/variables.scss";

.toggleContainer {
  display: flex;
  flex-direction: column;
  gap: $--spacing-xs;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    .slider,
    .label {
      cursor: not-allowed;
    }
  }
}

.toggleWrapper {
  display: flex;
  align-items: center;
  gap: $--spacing-sm;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: $--color-primary;
    &::before {
      transform: translateX(var(--travel-distance));
    }
  }

  &:focus + .slider {
    box-shadow: 0 0 0 2px $--color-primary-light;
  }
}

.slider {
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  background-color: $--color-icon-dark;
  border-radius: $--border-radius-xl;
  transition: 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    height: var(--dot-size);
    width: var(--dot-size);
    left: 4px;
    bottom: 4px;
    background-color: $--color-light;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.label {
  font-size: $--font-size-sm;
  color: $--color-light;
}

.helperText {
  font-size: $--font-size-xs;
  color: $--color-text-dark;
  margin-left: calc(var(--width) + 0.8rem);
}

.small {
  --width: 34px;
  --height: 18px;
  --dot-size: 10px;
  --travel-distance: 16px;
}
.medium {
  --width: 44px;
  --height: 24px;
  --dot-size: 16px;
  --travel-distance: 20px;
}
.large {
  --width: 54px;
  --height: 30px;
  --dot-size: 22px;
  --travel-distance: 24px;
}
