.cardIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $--spacing-sm;

  .cardIconText {
    h3 {
      color: $--color-light;
      font-size: $--font-size-lg;
      text-transform: uppercase;
      margin-bottom: $--spacing-xs;
    }

    p {
      color: $--color-light;
      font-size: $--font-size-sm;
      margin: 0;
    }
  }
}
