@import "../../styles/variables.scss";

.inputContainer {
  margin-bottom: $--spacing-md;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: $--spacing-sm;
  font-weight: bold;
  color: $--color-light;
}

.inputField {
  background-color: $--color-bg-dark;
  padding: $--spacing-sm;
  border-radius: $--border-radius-sm;
  border: 1px solid $--color-light;
  font-size: $--font-size-md;
  transition: border-color 0.2s ease-in-out;
}

.inputField:focus {
  outline: none;
  border-color: $--color-primary;
}

.inputField.errorActive {
  border-color: #ff5252;
}

.inputField.errorActive:focus {
  outline: none;
  border-color: #ff5252;
}

.errorMessage {
  color: #ff5252;
  font-size: $--font-size-md;
  margin-top: $--spacing-sm;
}
