.inputContainer {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: 8px;
  font-weight: bold;
}

.inputField {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

.inputField:focus {
  outline: none;
  border-color: #501EB7;
}

.inputField.errorActive {
  border-color: #FF5252; 
}

.inputField.errorActive:focus {
  outline: none;
  border-color: #FF5252;
}

.errorMessage {
  color: #FF5252; 
  font-size: 16px;
  margin-top: 8px;
}